<!--
  Generated template for the Transactions page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="topcolor">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Transactions</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-searchbar class="search-bg" [(ngModel)]="searchTerm" (ionInput)="setFilteredItems()"></ion-searchbar>

  <ion-list class="no-padding" style="border:none;">
    <ion-item  class="listitem" *ngFor="let transaction of transactions">
    
    <!-- <div class="div pending" *ngIf="transaction.transactionStatus == 'Pending'"> -->
      <!-- {{ transaction.customerId }}
      {{ transaction.fromAccount }} -->
      {{ transaction.toAccount }}<br />
      <p class="small_items">{{ transaction.amount }}<br />
      
      <span *ngIf="transaction.transactionStatus == 'Pending'">
      <span class="status_pending">{{ transaction.transactionStatus }}</span>
      </span>

      <span *ngIf="transaction.transactionStatus == 'In Progress'">
      <span class="status_progress">{{ transaction.transactionStatus }}</span>
      </span>

      <span *ngIf="transaction.transactionStatus == 'Completed'">
      <span class="status_complete">{{ transaction.transactionStatus }}</span>
      </span>

      </p>
    <!-- </div> -->
 </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
