<<ion-content class="login-content" padding>
  <ion-row class="logo-row">
    <ion-col></ion-col>
    <ion-col width-67>
      <img src="assets/icon/logo.png"/>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
  <div class="login-box">
    <form (ngSubmit)="login()" #registerForm="ngForm">
      <ion-row>
        <ion-col>
          <ion-list inset>
            <ion-item item item-input item-stacked-label>
              <ion-input type="text" placeholder="Email" name="email" [(ngModel)]="registerCredentials.email" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="registerCredentials.password" required></ion-input>
            </ion-item>

          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" full type="submit" [disabled]="!registerForm.form.valid">Login</button>
          <button ion-button class="register-btn" block clear (click)="createAccount()">Create New Account</button>
        </ion-col>
      </ion-row>
      <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    </form>
  </div>
</ion-content>

<!--

<ion-view class="login-view auth-view" cache-view="false">
  <ion-header-bar class="login-header auth-header">
    <div class="buttons">
      <button class="button button-clear button-icon icon ion-ios-close-empty cancel-button" ng-click="cancelAuth()">
      </button>
    </div>
    <h3 class="title">Login</h3>
  </ion-header-bar>
  <ion-content class="auth-content" has-bouncing="false">
    <div class="content-wrapper">
      <div class="row row-no-padding everything-but-legal">
        <div class="col">
          <div class="row social-buttons-row">
            <div class="col">
              <button class="button button-block icon-left ion-social-facebook social-button facebook-button" ng-click="doLogIn()">
                <span class="inner-text">Log in via Facebook</span>
              </button>
              <button class="button button-block icon-left ion-social-googleplus social-button google-button" ng-click="doLogIn()">
                <span class="inner-text">Log in via Google</span>
              </button>
            </div>
          </div>
          <form class="row form-container" novalidate>
            <div class="col">
              <div class="list">
                <div class="item item-divider">
                  <span>or log in using email</span>
                </div>
                <label class="item item-input item-stacked-label">
                  <span class="input-label">Email</span>
                  <input type="email" placeholder="required">
                </label>
                <label class="item item-input item-stacked-label">
                  <span class="input-label">Password</span>
                  <input type="password" placeholder="required">
                </label>
              </div>
              <button class="button action-button button-block button-balanced" ng-click="doLogIn()">LOGIN</button>
              <div class="col alt-actions-container">
                <a class="button button-clear button-small button-stable forgot-password-button" ui-sref="">Forgot Password?</a>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row row-no-padding legal-row">
        <div class="col">
          <p class="legal-text">By logging in your agree to Zomato's <a ui-sref="">Terms of Service</a>, <a ui-sref="">Privacy Policy</a>, <a ui-sref="">Cookie Policy</a> and <a ui-sref="">Content Policies</a></p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
-->



