
<ion-header>

  <ion-navbar color="topcolor">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Payees</ion-title>
  </ion-navbar>
  </ion-header>

<ion-content padding>
  <ion-spinner name="circles" *ngIf="payees == 0"></ion-spinner>

  <ion-list class="no-padding" style="border:none;">
    <ion-item-sliding *ngFor="let payee of payees" style="border:none;">
    
    <ion-item class="listitem">
      <ion-avatar item-left class="char_avr">
        {{ payee.firstName[0] | uppercase }}
      </ion-avatar>
      <h2>{{ payee.firstName }}<span ng-if="payee.middleName"> {{ payee.middleName }}</span> {{ payee.lastName }}</h2>
      <p class="small_items">{{ payee.bankDetails}}<br />{{ payee.email}}</p>
    </ion-item>

      <ion-item-options side="right">
        <button ion-button (click)="updatePayee(payee)" style="background-color: darkgrey">
          <ion-icon name="open"></ion-icon>
        </button>
        <button ion-button (click)="deletePayee(payee)" style="background-color: darkgrey">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab right bottom (click)="addPayee()">
      <button ion-fab mini><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>
