
$auth-bg: #eef1f6;
$auth-color: #333;

.signup-view
{
  .pre-button-text
  {
    line-height: 28px;
    min-height: 30px;
    display: inline-block;
  }

  .login-button
  {
    color: $auth-color !important;
    font-size: 14px;
    font-weight: 500;
  }
}
